{% extends 'base.html' %}
{% block content %}

    <div class="colonnes">
        <div class="colonne">
            <a href="https://www.promeo-formation.fr/nos-centres/beauvais">
                <img src="/static/beauvais.jpg" alt="Image 1">
            </a>
            <div class="zone-texte">
                <p><strong>Proméo Beauvais</strong><br>6 Av. Paul Henri Spaak, 60000 Beauvais </p>
            </div>
        </div>
        <div class="colonne">
            <a href="https://www.promeo-formation.fr/nos-centres/senlis">
                <img src="/static/senlis.jpg" alt="Image 2">
            </a>
            <div class="zone-texte">
                <p><strong>Proméo Senlis</strong><br>1 Av. Eugène Gazeau, 60300 Senlis </p>
            </div>
        </div>
        <div class="colonne">
            <a href="https://www.promeo-formation.fr/nos-centres/compiegne">
                <img src="/static/Compiegne.jpg" alt="Image 3">
            </a>
            <div class="zone-texte">
                <p><strong>Proméo Compiègne</strong><br>87 Av. de la Mare Gessart, 60280 Venette </p>
            </div>
        </div>
    </div>
</body>{%endblock%}


</html>